.moose
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
venv
ENV
env.bak
.spyderproject
.ropeproject
.idea
*.ipynb_checkpoints
.pytest_cache
.mypy_cache
.hypothesis
.coverage
cover
*.cover
.DS_Store
.cache
*.so
*.egg
*.egg-info
dist
build
develop-eggs
downloads
eggs
lib
lib64
parts
sdist
var
wheels
*.egg-info/
.installed.cfg
*.egg
MANIFEST

