@tailwind base;
@tailwind components;
@tailwind utilities;

html {font-kerning: none;-webkit-text-rendering: optimizeSpeed;text-rendering: optimizeSpeed;-webkit-transform: translateZ(0);transform: translateZ(0);}