apiVersion: apps/v1
kind: Deployment
metadata:
  name: moosedeployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: moosedeploy
  template:
    metadata:
      labels:
        app: moosedeploy
        ver: v1
    spec:
      containers:
        - name: moosedeploy
          image: 514labs/moose-df-deployment-x86_64-unknown-linux-gnu:969a0b7 # update with latest git commit when updating this document
          ports:
            - containerPort: 4000
          readinessProbe:
            httpGet:
              path: /health
              port: 4000
          env:
            - name: RUST_BACKTRACE
              value: "1"
            - name: MOOSE_LOGGER_LEVEL
              value: "Debug"
            - name: MOOSE_LOGGER_STDOUT
              value: "true"
            - name: MOOSE_TELEMETRY_ENABLED
              value: "false"
            - name: MOOSE_REDPANDA_CONFIG__BROKER
              valueFrom:
                secretKeyRef:
                  name: sn-moose-redpanda-config--broker
                  key: sk-moose-redpanda-config--broker
            - name: MOOSE_REDPANDA_CONFIG___MESSAGE_TIMEOUT_MS
              valueFrom:
                secretKeyRef:
                  name: sn-moose-redpanda-config--message-timeout-ms
                  key: sk-moose-redpanda-config--message-timeout-ms
            - name: MOOSE_REDPANDA_CONFIG__SASL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: sn-moose-redpanda-config--sasl-username
                  key: sk-moose-redpanda-config--sasl-username
            - name: MOOSE_REDPANDA_CONFIG__SASL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sn-moose-redpanda-config--sasl-password
                  key: sk-moose-redpanda-config--sasl-password
            - name: MOOSE_REDPANDA_CONFIG__SASL_MECHANISM
              valueFrom:
                secretKeyRef:
                  name: sn-moose-redpanda-config--sasl-mechanism
                  key: sk-moose-redpanda-config--sasl-mechanism
            - name: MOOSE_REDPANDA_CONFIG__SECURITY_PROTOCOL
              valueFrom:
                secretKeyRef:
                  name: sn-moose-redpanda-config--security-protocol
                  key: sk-moose-redpanda-config--security-protocol
            - name: MOOSE_CLICKHOUSE_CONFIG__DB_NAME
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--db-name
                  key: sk-moose-clickhouse-config--db-name
            - name: MOOSE_CLICKHOUSE_CONFIG__USER
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--user
                  key: sk-moose-clickhouse-config--user
            - name: MOOSE_CLICKHOUSE_CONFIG__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--password
                  key: sk-moose-clickhouse-config--password
            - name: MOOSE_CLICKHOUSE_CONFIG__HOST
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--host
                  key: sk-moose-clickhouse-config--host
            - name: MOOSE_CLICKHOUSE_CONFIG__HOST_PORT
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--host-port
                  key: sk-moose-clickhouse-config--host-port
            - name: MOOSE_CLICKHOUSE_CONFIG__USE_SSL
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--use-ssl
                  key: sk-moose-clickhouse-config--use-ssl
            - name: MOOSE_CLICKHOUSE_CONFIG__POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--postgres-port
                  key: sk-moose-clickhouse-config--postgres-port
            - name: MOOSE_CLICKHOUSE_CONFIG__KAFKA_PORT
              valueFrom:
                secretKeyRef:
                  name: sn-moose-clickhouse-config--kafka-port
                  key: sk-moose-clickhouse-config--kafka-port
            - name: MOOSE_HTTP_SERVER_CONFIG__HOST
              valueFrom:
                secretKeyRef:
                  name: sn-moose-http-server-config--host
                  key: sk-moose-http-server-config--host
            - name: MOOSE_HTTP_SERVER_CONFIG__PORT
              valueFrom:
                secretKeyRef:
                  name: sn-moose-http-server-config--port
                  key: sk-moose-http-server-config--port
      imagePullSecrets:
        - name: moose-repo-credentials