on: push

jobs:
  cleanup-pypi:
    name: Cleanup PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install pypi Cleanup
        run: |
          sudo apt install -y expect
          pip install pypi-cleanup

      - uses: 1password/load-secrets-action@v1
        id: op-load-secret
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          PYPI_TOKEN: "op://drqe7p6legi6ug2ijq2fnrkmjq/PyPi Token/password"
          PYPI_CLEANUP_PASSWORD: "op://drqe7p6legi6ug2ijq2fnrkmjq/PyPI/new_password"
          PYPI_OTP: "op://drqe7p6legi6ug2ijq2fnrkmjq/PyPI/Saved on pypi.org/one-time password"

      - name: Clean up PyPI and only keep the latest 100 days of moose CLI and lib
        run: |
          expect << EOF
          spawn pypi-cleanup -u 514 -p moose-cli -d 100 -r ".*" --do-it
          expect "Authentication code:"
          send "$PYPI_OTP\r"
          expect eof
          EOF

          expect << EOF
          spawn pypi-cleanup -u 514 -p moose-lib -d 100 -r ".*" --do-it
          expect "Authentication code:"
          send "$PYPI_OTP\r"
          expect eof
          EOF

        env:
          PYPI_CLEANUP_PASSWORD: ${{ steps.op-load-secret.outputs.PYPI_CLEANUP_PASSWORD }}
          PYPI_OTP: ${{ steps.op-load-secret.outputs.PYPI_OTP }}
