name: Test Igloo CLI

on:
  push:
    branches:
      - "**"
      - "!main"
    paths:
      - ".github/workflows/test-igloo-cli.yaml"
      - "apps/igloo-kit-cli/**"
      - "packages/**"

defaults:
  run:
    working-directory: ./apps/igloo-kit-cli

jobs:
  check:
    name: Check
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Cargo Cache
        uses: Swatinem/rust-cache@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --manifest-path ./apps/igloo-kit-cli/Cargo.toml

  test-macos:
    name: Test Suite (MacOS)
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
      RUST_BACKTRACE: full
    runs-on: macos-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cargo Cache
        uses: Swatinem/rust-cache@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ./apps/igloo-kit-cli/Cargo.toml

      - name: Inspect Logs
        if: always()
        run: |
          cat ~/.igloo/cli.log

  test-ubuntu:
    name: Test Suite (Ubuntu)
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
      RUST_BACKTRACE: full
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cargo Cache
        uses: Swatinem/rust-cache@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ./apps/igloo-kit-cli/Cargo.toml

      - name: Inspect Logs
        if: always()
        run: |
          cat ~/.igloo/cli.log

  lints:
    name: Lints
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Cargo Cache
        uses: Swatinem/rust-cache@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./apps/igloo-kit-cli/Cargo.toml --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        continue-on-error: true # Keeping this as long as not all errors are fixed
        with:
          command: clippy
          args: --manifest-path ./apps/igloo-kit-cli/Cargo.toml -- -D warnings
